.header {
	background-color: #b7d5ff;
	text-align: center;
	padding: 20px;
	display: block;
	text-decoration-color: black;


}
#headerimg {
	max-height: 100px;
	display   : inline-block;
	border-radius: 60%;
	float:right;
	overflow: auto;
	padding: 20px;
	margin: 5px;

}

.nav {
	width: 100%;
	border-radius: 15px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 10px;
	display: inherit;
	overflow  : hidden;
	background: black;
	max-height: 30px;





}

.nav a {
	color: white;
	background-color: black;
	float: left;
	text-decoration: none;
	display: inline-block;
	border-radius: 15px;
	text-align: center;
	padding: 5px;
	margin: 5px;


}

.nav a:hover {
	background-color: white;
	color:black;
	text-decoration: none;
}

#quote {
	font-family: garamond;
	font-style: oblique;


}
main {
	width: 75%
}

table {
	
	width: 65%;
	margin-right: 5px; 
	padding-right: 5px;
	overflow: hidden;
	display: block;
	float: left

}
th {
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
td {
	text-align: center; 
	vertical-align: middle;
	height: 15px
	margin:5px;
	padding: 10px;	

}

#table-img {
	margin-left: 5px;
	padding-left: 5px;
	width: 30%;
	border-radius: 50%;
	display: block;
	float: right;
}

/* test code for hover manue*/
.nav ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.nav ul li {display: inline-block;}
.nav ul li:hover {background: #555;}
.nav ul li:hover ul {display: block;}
.nav ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.nav ul li ul li { 
  background: #555; 
  display: block; 
}
.nav ul li ul li a {display:block !important;} 
.nav ul li ul li:hover {background: #666;}



/* END TEST CODE FOR HOVER MENUE*/


.footer {

	
}